body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

h1{color: white;}
p{color: white;}

*{
    outline: none;
    user-select: none;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.carrousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    width: 1000px;
    margin-top: 15px;
    
}

.card{
    width: 400px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
}


.arrow{
    position: absolute;
    font-size: 30px;
    width: 50px;
    cursor: pointer;
    padding: 0px 0px 0px 15px;
    color: white;
}
 
#arrowLeft{
    top: 400px;
    margin-left: -480px;
}

#arrowRight{
    position: absolute;
    top: 400px;
    margin-left: 505px;

}

#shadow{
    width: 100%;
    height: 500px;
    /* background: radial-gradient(rgb(99, 98, 98, 0.0), black ) ; */
    position: absolute;
    top: 188px;
}


#red, #blue, #yellow, #green{
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent 80% );

}

#white{
    width: 450px;
    margin-bottom: 25px;
}